.content-div{
    background-position:center;
    height: 220px;
  }
  .content-div:hover{
    background-image:
    linear-gradient(to right,
    hsla(12, 2%, 60%, 0.801), hsla(12, 2%, 60%, 0.801) ),
  }
    
  .image-cover  {
    height:260px;
  }
  .content-div:hover .fd-cl{ 
    opacity: 0.25;
  }
  .content-div:hover .fd-sh{ 
     opacity: 1;
  }
  #card{
  height: 320px;
  width: 250px;
  border-radius: 6px;
  }
  #card:hover , #card:focus{
    transform: scale(1.02);
    transition: .5s;
  }
  img:hover{
  background-color: rgb(207, 70, 70);
  opacity: 0.7;
  } 
  #img{
  height: 250px;
  width: 240px;
  }

